/* Base styles (regardless of theme) */
.bs-callout {
    margin: 20px 0;
    padding: 15px 30px 15px 15px;
    border-left: 5px solid #eee;
}
.body-color{
    /* background-color: #a5daf0; */
    background-color: #ffffff;
}
.div-background{    
    width: '100%';
    height: '400px';
}
.title{
    text-shadow: -1px 2px 0 white, 1px 1px 0 #333,1px 1px 0 #444
}
.card-margins{
    margin-right:50px;
}
.btn-margins{
    margin-top:10px;
    margin-right:10px;
}
.bs-callout h4 {
    margin-top: 0;
}
 
.bs-callout p:last-child {
    margin-bottom: 0;
}
 
.bs-callout code,
.bs-callout .highlight {
    background-color: #fff;
}
 
/* Themes for different contexts */
.bs-callout-danger {
    background-color: #fcf2f2;
    border-color: #dFb5b4;
}
 
.bs-callout-warning {
    background-color: #fefbed;
    border-color: #f1e7bc;
}
 
.bs-callout-info {
    background-color: #f0f7fd;
    border-color: #d0e3f0;
}
 
.bs-callout-danger h4,
.bs-callout-danger a.alert-link {
    color: #B94A48;
}
 
.bs-callout-warning h4,
.bs-callout-warning a.alert-link {
    color: #C09853;
}
 
.bs-callout-info h4,
.bs-callout-info a.alert-link {
    color: #3A87AD;
}
 
.bs-callout a.alert-link {
    font-weight: bold;
}
